@using EESTEC.Data.Enum
@using EESTEC.ViewModel
@model EditLocalEventViewModel;
@section Scripts {
<script type="text/javascript" src="~/js/formValidation.js" defer></script>
}
@{
  ViewData["Title"] = "Uredi lokalni događaj";
}
<div class="container mt-3">
    <h1>Uređivanje lokalnog eventa</h1>
    <form method="post" asp-action="Edit" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class=mb-3>
            <label asp-for="Title" class="form-label">Naziv lokalnog događaja</label>
            <input asp-for="Title" type="text" class="form-control" id="title"  required>
            <span asp-validation-for="Title" class="text-danger"></span>
            <div class="valid-feedback">
                Sve okej!
            </div>
            <div class="invalid-feedback">
                Naziv događaja je obavezan!
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <label asp-for="EventType"  for="type" class="form-label">Tip događaja</label>
                <select asp-for="EventType" class="form-select" id="type" asp-items="Html.GetEnumSelectList<EventType>()" required>
                    <option selected="selected" value="">Odaberi tip događaja</option>
                </select>
                 <span asp-validation-for="EventType" class="text-danger"></span>
                <div class="valid-feedback">
                    Sve okej!
                </div>
                <div class="invalid-feedback">
                    Obavezno odabrati tip događaja!
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-3">
                <label asp-for="Date" for="date" class="form-label">Datum održavanja</label>
                <input asp-for="Date" type="date" class="form-control" id="date" required>
                <span asp-validation-for="Date" class="text-danger"></span>
                <div class="valid-feedback">
                    Sve okej!
                </div>
                <div class="invalid-feedback">
                    Obavezno izabrati validan datum održavanja događaja!
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Opis događaja</label>
            <textarea class="form-control" id="description" asp-for="Description" rows="3" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
            <div class="valid-feedback">
                Sve okej!
            </div>
            <div class="invalid-feedback">
                Opis događaja je obavezan!
            </div>
        </div>
        <div>
            <button class="btn btn-primary d-inline mr-2" type="submit">Sačuvaj</button>
            <a class="btn btn-danger d-inline mr-2" type="reset"  asp-area="" asp-controller="LocalEvent" asp-action="Index">Odustani</a>
        </div>
    </form>
</div>
