@model IEnumerable<LocalEvent>


<h1>Pregled lokalnih događaja</h1>

<div class="container">
    <div class="d-flex flex-row-reverse">
         <a class="btn btn-outline-dark" asp-controller="LocalEvent" asp-action="Create">Dodaj lokalni event</a>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Naziv događaja</th>
                <th scope="col">Opis događaja</th>
                <th scope="col">Datum događaja</th>
                <th scope="col">Opcije</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var localEvent in Model)
            {
                <tr>
                    <td class="align-middle" scope="row">@localEvent.Id</td>
                    <td class="align-middle" scope="row">@localEvent.Title</td>
                    <td class="align-middle" scope="row">@localEvent.Description</td>
                    <td class="align-middle" scope="row">@localEvent.Date</td>
                    <td class="align-middle" scope="row">
                        <div>
                            <button class="btn btn-success mr-2">Uredi</button>
                            <button class="btn btn-danger mr-2">Izbriši</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



