@{
    ViewData["Title"] = "Naslovna";
}
<div class="landing-image d-flex justify-content-center align-content-center">
    <div class="w-50 d-flex flex-column justify-content-center pb-5">
        <img src="~/img/logoWhite.png" alt="EESTEC LC Sarajevo" class="img-fluid"/>
    </div>
</div>
